body {
    margin: 0;
}

.navbar {
    background-color: #FFC7D1;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #2C2C2C;
}

.nav-link:hover {
    color: #FAF8F7;
}

.btn-carrito {
    background-color: #D4AF37;
    color: #FAF8F7;
    border: none;
}

.btn-carrito:hover {
    background-color: #2C2C2C;
    color: #FAF8F7;
}

.hero {
    background-image: url('img/mobile.jpg');
    background-size: cover;
    height: 100vh;
}
